* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 108px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.heading {
  margin-top: 18px;
  font-weight: 700;
  color: #0d1111;
}

.heading.lv1 {
  font-size: 6.2rem;
  line-height: 1.16;
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 1.33;
}

/* Xử lý tràn dòng */
.line-clamp {
  display: -webkit-box;
  /* Gán giá trị mặc định 1 dòng nếu xuống hàng là tạo ... */
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-2 {
  --line-clamp: 2;
}

.line-clamp.line-3 {
  --line-clamp: 3;
}

.line-clamp.line-4 {
  --line-clamp: 4;
}

.break-all {
  word-break: break-all;
}
/* --------------------------Header-------------------------- */
.header {
  background-color: #ffffff;
}

.header.fixed {
  position: sticky;
  z-index: 1;
  top: -44px;
}

.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0 8px;
}

.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 20px;
  font-size: 1.6rem;
  color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
  /* Cach 1 */
  /* font-weight: 600; */
  /* color: #2f3a3b; */
  /* Cach 2 */
  text-shadow: 1px 0 0 currentColor;
  color: #2f3a3b;
  text-decoration: underline;
  text-underline-offset: 6px;
}

.header .action {
  /* Theo thiết kế là 70 trừ đi 21 đã padding ở mấy cái nav còn 49 */
  margin-left: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .sign-in-btn {
  font-weight: 400;
  color: #494949;
}

.action .sign-up-btn {
  padding: 12px 24px;
  line-height: 1.5;
  color: #1ebfc1;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}

/* --------------------------Hero-------------------------- */
.hero {
  /* -8px do ở button signup đã padding bottom 8px */
  padding-top: 42px;
  background: #ffffff;
}

.hero .body {
  display: flex;
  gap: 71px;
  padding-bottom: 79px;
  justify-content: space-between;
}

/* -------------------Hero left- */
.hero .hero-left {
  /* 458/1170 */
  width: 39%;
  padding: 93px 0;
}

.hero .hero-left .note {
  font-size: 1.4rem;
  color: #767e7e;
}

.hero .desc {
  width: 374px;
  margin-top: 46px;
  font-size: 1.8rem;
  line-height: 1.79;
  color: #9da6a5;
}

.hero .cta-group {
  margin-top: 52px;
  display: flex;
  align-items: center;
}

.hero-cta {
  min-width: 186px;
  padding: 20px 40px;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 14px;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  background-color: var(--primary-color);
}

.hero .play {
  padding: 0;
  margin-left: 50px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.hero .play .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0px 22px 50px 0px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

/* -------------------Hero right-------------------- */
.hero .hero-right {
  /* width: 61%; */
  position: relative;
}

.hero .hero-right .hero-img {
  width: 576px;
  /* height: 100%; */
  height: 631px;
  object-fit: cover;
  display: block;
}

.hero-courses {
  display: flex;
  position: absolute;
  width: 157px;
  height: 75px;
  top: 149px;
  left: -40px;
  padding: 17px 25px 18px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-courses .courses-icon {
  position: relative;
  margin-right: 16px;
  width: 36px;
  height: 40px;
}

.hero-courses .courses-icon::after {
  position: absolute;
  content: '';
  display: block;
  top: 28px;
  width: 28px;
  right: 4px;
  height: 4px;
  border-radius: 3px;
  background: #ffffff;
}

.hero-courses .quantity {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
  color: #0d1111;
}

.hero-schedules {
  position: absolute;
  width: 157px;
  height: 75px;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  padding: 16px 25px 23px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-schedules .title {
  text-align: center;
  color: #0d1111;
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 18px;
}

.hero-schedules .schedule-bar {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.hero-schedules .schedule-bar .item {
  position: relative;
  width: 100%;
  height: 6px;
  border-radius: 3px;
  background: #edf1f5;
}

.hero-schedules .schedule-bar .item:nth-child(1)::before {
  content: '';
  position: absolute;
  width: 53%;
  height: 100%;
  border-radius: 3px;
  background: #fb9899;
}

.hero-schedules .schedule-bar .item:nth-child(2)::before {
  content: '';
  position: absolute;
  width: 69%;
  height: 100%;
  border-radius: 3px;
  background: #fb9899;
}

.hero-schedules .schedule-bar .item:nth-child(3)::before {
  content: '';
  position: absolute;
  width: 45%;
  height: 100%;
  border-radius: 3px;
  background: #fb9899;
}

.hero-schedules .item-last {
  margin-top: 16px;
  width: 35%;
  height: 6px;
  border-radius: 3px;
  transform: translateX(25px);
  background: #edf1f5;
}

.hero-students {
  position: absolute;
  right: 45px;
  bottom: 41px;
  width: 207px;
  height: 90px;
  padding: 17px 35px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-students .title {
  font-size: 1rem;
  color: #0d1111;
  font-weight: 500;
  line-height: 1.5;
}

.hero-students .students-group {
  display: flex;
  margin-top: 8px;
}

.hero-students .student {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  object-fit: cover;
}

.student + .student {
  margin-left: -7px;
}

.hero-students .student-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  background: var(--primary-color);
}

/* --------------------------Features-------------------------- */
.features {
  margin-top: 88px;
  padding: 42px 0;
}

.features .features-title {
  font-size: 1.2rem;
  line-height: 1.5;
  font-weight: 700;
  color: #767e7e;
}

.features .heading {
  margin-top: 18px;
  width: 577px;
}

.features .feature-desc {
  width: 590px;
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #767e7e;
}

.feature-list {
  margin-top: 80px;
  display: flex;
  gap: 190px;
  justify-content: space-between;
}

.feature-item .icon {
  width: 102px;
  height: 106px;
}

.feature-item .feature-name {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 600;
  color: #0d1111;
}

.feature-item .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.69;
  color: #9da6a5;
}

/* --------------------------Courses-------------------------- */
.courses {
  margin-top: 88px;
  padding: 42px 0;
}

.course-top {
  margin-bottom: 79px;
}

.course-top .title {
  font-size: 1.2rem;
  font-weight: 700;
  color: #767e7e;
}

.course-top .info {
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.course-top .desc {
  width: 525px;
  font-size: 1.8rem;
  line-height: 1.78;
  color: #767e7e;
}

.course-top .course-link {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration-line: underline;
  color: var(--primary-color);
}

/* Cách 1 */
/* .courses .course-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 47px;
} */

/* Cách 2: Dễ responsive */
.courses .course-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 47px;
}

.courses .course-item {
  max-width: 100%;
  position: relative;
}

.courses .course-item .thumb {
  width: 359px;
  height: 393px;
  border-radius: 8px;
  opacity: 0.6;
  object-fit: cover;
  background: #d0efed;
  transition: transform 0.2s;
  overflow: hidden;
}

.courses .course-item .thumb:hover {
  opacity: 1;
  transform: scale(1.1);
}

.courses .course-item .info {
  position: absolute;
  width: 325px;
  height: 195px;
  left: 17px;
  bottom: -122px;
  padding: 18px 25px 29px;
  border-radius: 8px;
  background: #fff;
}

.courses .course-item .info:hover {
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.courses .course-item .title a {
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 700;
  color: #0d1111;
}

.courses .course-item .price {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767e7e;
}

.courses .course-item .price strong {
  font-size: 2.2rem;
  font-weight: 700;
  color: #0d1111;
}

.courses .course-item .desc {
  margin-top: 6px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #9da6a5;
}

.courses .course-item .course-time-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 18px;
}

.course-time-quantity .quantity,
.course-time-quantity .time {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #9da6a5;
}

.course-time-quantity .quantity::before,
.course-time-quantity .time::before {
  display: inline-block;
  content: '';
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--primary-color);
}

/* -------------------Statistical-------------------- */
.stats {
  padding: 80px 0;
  margin-top: 265px;
}

.stats .main-content {
  width: 862px;
  max-width: 100%;
  margin: 0 auto;
}

.stats .stats-list {
  display: flex;
  align-items: center;
  gap: 200px;
}

.stats-item {
  text-align: center;
  line-height: 1.5;
}

.stats-item .qty {
  font-size: 6.2rem;
  font-weight: 700;
  color: #0d1111;
}

.stats-item .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  color: #767e7e;
}

/* -------------------Feedback-------------------- */
.feedback {
  padding: 80px 0;
  margin-top: 104px;
}

.feedback .body {
  display: flex;
  height: 481px;
  gap: 72px;
}

.feedback .content-block {
  padding: 37px 0;
}

.content-block .fig {
  width: 36px;
  height: 29px;
}

.content-block .desc {
  width: 419px;
  margin-top: 27px;
  font-size: 3.2rem;
  line-height: 1.5;
  color: #5d6564;
}

.content-block .author {
  margin-top: 33px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #767e7e;
}

.content-block .author strong {
  font-weight: 500;
  color: #070707;
}

.content-block .controls {
  margin-top: 52px;
  width: 130px;
  height: 50px;
  display: flex;
  gap: 30px;
}

.content-block .controls .control-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #fff;
  border: 1px solid #2ac9bf;
  background: #2ac9bf;
}

.content-block .controls .control-btn:hover {
  background: #fff;
  color: #2ac9bf;
}

.feedback .avatar-group {
  width: 679px;
  position: relative;
}

.avatar-group .avatar-item {
  content: '';
  position: absolute;
  width: 78px;
  height: 78px;
}

.avatar-group .avatar-item:nth-child(1) {
  top: 258px;
  left: 0;
}

.avatar-group .avatar-item:nth-child(2) {
  width: 92px;
  height: 92px;
  left: 144px;
  /* c2 căn theo trục X, Y (X lấy 1 */
  /* transform: translate(31.22%, 0%); */
}

.avatar-group .avatar-item:nth-child(3) {
  /* c1 */
  left: 212px;
  bottom: 0;
}

.avatar-group .avatar-item:nth-child(4) {
  width: 235px;
  height: 235px;
  top: 107px;
  right: 171px;
}

.avatar-group .avatar-item:nth-child(5) {
  width: 110px;
  height: 110px;
  top: 19px;
  right: 0;
}

.avatar-group .avatar-item:nth-child(6) {
  right: 32px;
  bottom: 29px;
}

/* -------------------CTA-------------------- */
.cta {
  margin-top: 50px;
  background: #def6f5;
}

.cta .body {
  display: flex;
  align-items: center;
  gap: 410px;
  /* justify-content: space-between; */
  padding: 76px 0 88px;
}

.cta-left {
  /* margin-left: 135px; */
  font-size: 1.8rem;
  color: #767e7e;
}

.cta-left .heading {
  margin-top: 0;
  line-height: 1.5;
}

.cta-left .desc {
  margin-top: 18px;
  font-size: 1.8rem;
  line-height: 1.5;
  color: #767e7e;
}

.cta-right .cta-btn {
  width: 186px;
  padding: 20px 40px;
  font-size: 1.8rem;
  line-height: 1.5;
  border-radius: 14px;
  background: #2ac9bf;
}

/* -------------------Footer-------------------- */
.footer {
  padding: 130px 135px 50px;
}

.footer .main-content {
  max-width: 100%;
}

.footer .row {
  display: flex;
  justify-content: space-between;
}

.footer .row .title {
  font-size: 1.8rem;
  line-height: 1.5;
  font-weight: 500;
  color: #2e2e2e;
}

.footer .row .column {
  /* (100 - 25.7)/4 */
  width: 18.575%;
}

.footer .row .column:nth-child(1) {
  /* (127+144)/1170 */
  width: 23.2%;
}

.footer .row .column:nth-child(2) {
  /* (91+144)/1170 */
  width: 20.1%;
}

.footer .row .column:nth-child(3) {
  /* (113+144)/1170 */
  width: 21.9%;
}

.footer .row .column:nth-child(4) {
  /* (157+144)/1170 */
  width: 25.7%;
}

.footer .list {
  margin-top: 25px;
}

.footer .social-list {
  margin-top: 18px;
}

.footer .list a {
  position: relative;
  display: inline-block;
  margin-bottom: 12px;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #535353;
}

.footer .list a:hover,
.footer .social-list a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

.footer .social-list .social-item:last-child a,
.footer .list li:last-child a {
  margin-bottom: 0;
}

.footer .social-list .social-item {
  display: flex;
  gap: 9px;
}

.footer .copyright {
  padding-top: 80px;
}

.footer .copyright p {
  font-size: 1.8rem;
  line-height: 1.5;
  text-align: center;
  color: #b0b5b4;
}
