* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  text-align: center;
  min-width: 108px;
  padding: 12px 24px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #fff;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

/* --------------------------Header-------------------------- */
.header {
  background-color: #ffffff;
}

.header.fixed {
  position: sticky;
  z-index: 999;
  top: -44px;
}

.header .body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 52px 0 8px;
}

.nav ul {
  display: flex;
}

.nav a {
  padding: 8px 20px;
  font-size: 1.6rem;
  color: #2f3a3b;
}

.nav a:hover,
.nav li.active a {
  /* Cach 1 */
  /* font-weight: 600; */
  /* color: #2f3a3b; */
  /* Cach 2 */
  text-shadow: 1px 0 0 currentColor;
  color: #2f3a3b;
}

.header .action {
  /* Theo thiết kế là 70 trừ đi 21 đã padding ở mấy cái nav còn 49 */
  margin-left: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action .sign-in-btn {
  font-weight: 400;
  color: #494949;
}

.action .sign-up-btn {
  color: #1ebfc1;
  border-radius: 6px;
  border: 1px solid #1ebfc1;
}
